@import url("https://fonts.googleapis.com/css?family=Jost:400,500,600&display=swap");

body {
 background: linear-gradient(to left, #EDFF76, #F2709C);
 box-sizing: border-box;
 color: #EFB38A;
 font-family: "Jost", sans-serif;
 padding: 16vh 0;
}
.calendar {
  display: grid;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  overflow: auto;
  width: 100%;
	&-container {
	 background: #212121;
	 border-radius: 15px;
	 box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	 margin: auto;
	 max-width: 1000px;
	 overflow: hidden;
	 width: 100%;
	}
}
.header {
  padding: 20px 0;
  text-align: center;
	h1 {
	 font-size: 30px;
	 margin: 0;
	}
	p {
	 color: rgba(#51565D, .58);
	 font-weight: 600;
	 margin: 5px 0 0 0;
	}
}
.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.15);
  border-right: 1px solid rgba(166, 168, 179, 0.15);
  box-sizing: border-box;
  color: #98A0A6;
  font-size: 11px;
  padding: 14px 20px;
  position: relative;
  text-align: right;
	&:nth-of-type(7n + 7) {
	 border-right: 0;
	}
	&:nth-of-type(n + 1):nth-of-type(-n + 7) {
	 grid-row: 2;
	}
	&:nth-of-type(n + 8):nth-of-type(-n + 14) {
	 grid-row: 3;
	}
	&:nth-of-type(n + 15):nth-of-type(-n + 21) {
	 grid-row: 4;
	}
	&:nth-of-type(n + 22):nth-of-type(-n + 28) {
	 grid-row: 5;
	}
	&:nth-of-type(n + 29):nth-of-type(-n + 35) {
	 grid-row: 6;
	}
	&:nth-of-type(7n + 1) {
	 grid-column: 1/1;
	}
	&:nth-of-type(7n + 2) {
	 grid-column: 2/2;
	}
	&:nth-of-type(7n + 3) {
	 grid-column: 3/3;
	}
	&:nth-of-type(7n + 4) {
	 grid-column: 4/4;
	}
	&:nth-of-type(7n + 5) {
	 grid-column: 5/5;
	}
	&:nth-of-type(7n + 6) {
	 grid-column: 6/6;
	}
	&:nth-of-type(7n + 7) {
	 grid-column: 7/7;
	}
	&-name {
	 border-bottom: 1px solid rgba(166, 168, 179, 0.12);
	 color: #99A1A7;
	 font-size: 12px;
	 font-weight: 500;
	 line-height: 50px;
	 text-align: center;
	 text-transform: uppercase;
	}
	&--out {
	 background-color: #151313;
	}
}
.siggy {
 bottom: 10px;
 color: rgba(0,0,0,0.4);
 font-family: sans-serif;
 font-size: 10px;
 font-weight: 100;
 letter-spacing: 1px;
 position: fixed;
 right: 10px;
 text-decoration: none;
}
